<div>

<h2>Lista de Productos</h2>
{{#if productos.length}}
    <div >
        <table >
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each productos}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>${{this.precio}}</td>
                <td><img width="50" src={{this.imagen}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3>No se encontraron productos</h3>
    {{/if}}
    <br>
    <a href="/">Cargar producto</a>
</div>